{% extends 'CkWebBundle:Layouts:default.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block page_title %}
    Product creation
{% endblock %}

{% block page_content %}
    <div class="container">
        {{ form_start(form) }}
        <div class="row">
            {{ form_widget(form) }}
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="{{ path('product_index') }}" class="btn btn-default">Back to the list</a>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success pull-right">Create</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
